# Environments
venv/
.venv/
.env

# Python Caches
__pycache__/
*.pyc

# Local Data and Reports (preventing large files if re-generated)
# data/raw/upi_transactions_2024.csv (Already pushed, keeping tracked)
reports/model_predictions.csv
